#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  color: #c0d0e0;
  margin-block: 0px;
}

h2 {
  color: #90a0b0;
  margin-block: 0px;
}

section.badges {
  display: flex;
  min-width: 400px;
  max-width: 600px;

  & span {
    margin: 5px;
  }
}
